<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>fn-swdt-helper</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <form id="botForm" method="post" action="/submit">
        <input type="text" id="modelName" name="modelName" placeholder="Model Name"/>
        <input type="number" id="quality" name="quality" placeholder="Quality"/>
        <button type="submit">Submit</button>
    </form>

    <ul id="botList"></ul>
    <div id="advice"></div>

    <script src="/script.js"></script>
</body>
</html>